<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'WEB:  Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p><%= link_to 'iPHONE:  Confirm my account', "codefellowsapp://#{@token}" %></p>
